# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
plc_collector_venv/

# Environment / secrets
.env
.env.*
!.env.example

# IDE
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

#data
data/
